<div id="body">
    <h2 style="text-align:center; padding-top:30px;">Nitai Charan Alvares Pereira</h2>
    <div id="apresentacao">
        <p>
        Idade: 26 anos
        <br>Nacionalidade: Brasileiro
        <br>Estado Civil: Solteiro
        <br>Telefone: (83) 99971-2404
        <br>Endereço: R. Airton Martins da Silva, 33, João Pessoa, Paraíba
        <br>E-mail: nitaicharan@gmail.com
        <br><a href="https://www.linkedin.com/in/nitaicharan/">Linkedin</a>
        e <a href="https://github.com/nitaicharan">Github</a>
        </p>
    </div>
    <hr>
    <div id="formacao">
        <h3>Formação</h3>
        <p>
        Status: Em Graduação
        <br>Titulação: Bacharel
        <br>Curso: Ciências da Computação
        <br>Instituição: UNIPÊ - Centro Universitário de João Pessoa
        <br>Previsão de término: dezembro de 2019
        </p>
    </div>
    <hr>
    <div id="experiencias">
        <h3>Experiência profissionais</h3>
        <dl>
            <div id="indra">
                <dt>Maio 2019 a Julho 2019 - Indra, João Pessoa - PB</dt>
                <dd>Cargo: Engenheiro de software júnior
                <br>Manutenção e criação de novas funcionalidades em plataformas que utilizam as seguintes tecnologias:
                <ul>
                    <li>Aplicações web clients API Java Spring Framework RESTful;</li>
                    <li>Web Service de interface gráfica em AngularJS;</li>
                    <li>Geração de relatórios em TIBCO Jaspersoft;</li>
                    <li>Utilização de base de dados Oracle Database;</li>
                </ul>
                </dd>
            </div>

            <div id="conductor">
                <dt>Outubro 2018 a Maio 2019 - Conductor Tecnologia em Meios de Pagamento, João Pessoa - PB </dt>
                <dd>
                Cargo: Estágio – Analista Desenvolvedor
                <br>Manutenção e criação de novas funcionalidades em plataformas que utilizam as seguintes tecnologias:
                <ul>
                    <li>Aplicações web clients API Java Spring Framework RESTful (clientes RESTs);</li>
                    <li>Manutenção e implementação de novas funcionalidades em sistemas C# e Visual Basic para autorização de pagamentos;</li>
                    <li>Análise e correção em sistemas que utilizam bases de dados SQL Server para operacionar;</li>
                    <li>Análise de dados em bases SQL Server.</li>
                    <li>Análise em sistemas que utilizam mensageria para transações financeiras padrão ISO 8583;</li>
                </ul>
                </dd>
            </div>
            <div id="suporte1">
                <dt>Setembro 2017 a Maio 2018 - Suporte ONE, João Pessoa - PB </dt>
                <dd>
                Cargo: Estágio - Auxiliar em infraestrutura e suporte tecnico
                Principais atividades realizadas na empresa e localmente em clientes:
                <ul>
                    <li>Monitoramento de redes e serviços de clientes utilizando Zabbix;</li>
                    <li>Intervenção em serviços de servidores Windows/Linux;</li>
                    <li>Análise e troubleshooting de problemas de redes;</li>
                    <li>Manutenção para o funcionamento de serviços como Firewall (Pfsense),Squid, Samba, Active directory (AD);</li>
                    <li>Intervenção remota em workstatio via Teamviewer, mRemoteNG, AnyDesk, SSH;</li>
                    <li>Atendimento nível 1 voltado ao cliente;</li>
                </ul>
                </dd>
            </div>
            <div id="aec">
                <dt>Fevereiro 2014 a Janeiro 2015 - AeC Contact Center, Campina Grande - PB </dt>
                <dd>
                Cargo: Atendente de Telemarketing
                <br>Principais atividades realizadas na empresa:
                <ul>
                    <li>Vendas telemarketing de pacotes fornecidos pela empresa NET;</li>
                </ul>
                </dd>
            </div>
            <div id="caixa">
                <dt>Abril 2009 a Junho 2011 - Caixa Econômica Federal, Campina Grande - PB</dt>
                <dd>
                Cargo: Aprendiz Legal - Auxiliar administrativo
                <br>Principais atividades realizadas na empresa:
                <ul>
                    <li>Auxiliar administrativo no setor habitacional;</li>
                    <li>Gerenciamento dos contratos do projeto Minha Casa Minha Vida;</li>
                </ul>
                </dd>
            </div>
        </dl>
        <hr>
        <div id="extras">
            <h3>Qualificações e Atividades Complementares</h3>
            <p>Conhecimentos nas seguintes tecnologias:</p>
            <ul>
                <li><b>Frameworks</b>: Angular, AngularJS, Spring;</li>
                <li><b>Versionadores</b>: Git, SVN, TFS;</li>
                <li><b>SGBDs</b>: Microsoft SQL Server, Oracle Database, MySQL e MariaDB;</li>
                <li><b>Padrões de projeto</b>: MVC e MVP;</li>
                <li><b>Gerenciamento de dependências</b>: Apache Maven;</li>
            </ul>
        <hr>
            <h3>Informações Adicionais</h3>
            <p>Conhecimentos adicionais:</p>
            <ul>
                <li><b>Conhecimento em sistemas</b>: Linux e Microsoft Windows;</li>
                <li><b>Conhecimento em programação em linguagens</b>: C, C#, Visual Basic, Python, Java e TypeScript;</li>
                <li><b>Conhecimento em IDEs</b>: Eclipse, Framework, Microsoft Visual Studio (Vim e Atom);</li>
            </ul>
        </div>
        </div>
    </div>
